<mat-sidenav-container>

    <mat-sidenav #sidenav [mode]="'push'" fixedInViewport="true">
        <img src="../assets/imgs/Dorian.JPEG" style="height: 200px; width: 200px;">
        
        <mat-nav-list>
          <a mat-list-item [routerLink]="['/category/home']" routerLinkActive="active"> Home </a>
          <a mat-list-item [routerLink]="['/category/anime']" routerLinkActive="active"> Anime </a>
          <a mat-list-item [routerLink]="['/category/comedia']" routerLinkActive="active"> Comedia </a>
          <a mat-list-item [routerLink]="['/category/drama']" routerLinkActive="active"> Drama </a>
        </mat-nav-list>
      </mat-sidenav>
  
    <mat-sidenav-content>
  
      <div style="height: 100vh;">
        <mat-toolbar color="primary">
  
          <button mat-icon-button class="example-icon" (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
  
          <img src="https://upload.wikimedia.org/wikipedia/commons/7/7a/Logonetflix.png" style="width: 8%; height: auto;">
          <span class="example-spacer"></span>
  
          <button mat-icon-button class="example-icon favorite-icon">
            <mat-icon>search</mat-icon>
          </button>
  
          <button mat-icon-button class="example-icon">
            <mat-icon>more</mat-icon>
          </button>
  
        </mat-toolbar>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container> 